@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

a, a:link, a:active, a:focus {
    text-decoration: inherit;
    color: inherit;
}

header {
    width: 100%;
    height: 100%;
}

.full-header {
    width: 100%;
    height: 100%;
    background: url('../img/1911333.jpg') 60% center fixed / cover no-repeat;
    box-shadow: inset 0 0 85px 30px rgba(0,0,0,.6);
}

.topbar {
    position: absolute;
    width: 100%;
    height: 3%;
    min-height: 30px;
    background: rgba(0,0,0,.9);
    z-index: 999;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 7%;
    min-height: 90px;
    background: linear-gradient(180deg, rgba(0,0,0,.9), rgba(0,0,0,.5));
    z-index: 9999;
    top: 3%;
}

.navbar--fixed {
    top: 0;
    position: fixed;
}
.bar--top, .bar--nav {
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #eee;
    list-style: none;
}

.bar--top__elem {
    flex: 0 1 200px;
}

.elem2 {
    margin: 0 auto;
}

.bar--nav__elem {
    margin: 0 2px;
    flex: 1 1 80px;
    font-size: 20px;
    height: 100%;
    text-align: center;
    line-height: 4.3em;
    border-radius: 5px;
    transition: 0.4s ease;
}

.nav-elem4 {
    margin: 0 auto;
    width: 400px;
    flex-grow: 3;
}

.nav-link:before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    border-radius: 5px;
    bottom: -2px;
    height: 5px;
    background: #0bf;
    transform: scale(0);
    transition: all 0.4s ease 0s;
    opacity 0.9;
    visibility: hidden;
}
.nav-link {
    padding: 30px 2px;
    border-radius: 5px;
}
.nav-link:hover {
    color: #0cf;
    transition: 0.4s ease;
}

.bar--nav__elem:hover > .nav-link:before {
    visibility: visible;
    transform: scale(1);
}
